body, button {
    font-family: 'Roboto Slab', serif;
}

.main {
    background: dodgerblue;
    background: linear-gradient(to top, dodgerblue, darksalmon);
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 2vh;
    background-color: white;
}

.logo {
    background-image: url(../img/helsi-logo.svg);
    background-size: 10vh;
    height: 8vh;
    width: 6vw;
    background-repeat: no-repeat;
}

.create-btn:hover, .logo:hover {
    cursor: pointer;
}

.create-btn {
    width: 10vw;
    height: 6vh;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border-radius: 1vh;
    border: none;
}

.wrapper {
    height: 91vh;
}

.dashboard {
    position: relative;
    overflow: hidden;
    margin-top: 9vh;
    margin-left: 7vw;
    height: 73vh;
    width: 85vw;
    background: white;
    box-shadow: 0 3px 10px 2px #000000;
    padding: 10px;
}

.dashboard > p {
    font-weight: bold;
    color: dodgerblue;
    font-size: 4vh;
    text-align: center;
    padding: 41vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal.active {
    display: block;
    pointer-events: auto;
}

.modal-body {
    width: 42vw;
    height: 54vh;
    position: absolute;
    top: 23vh;
    left: 31vw;
    background-color: darksalmon;
    border-radius: 5vh;
    z-index: 1;
    overflow: hidden;
}

.title {
    font-weight: bold;
    color: dodgerblue;
    font-size: 4vh;
    text-align: center;
    padding: 1vh;
}

.modal .create-card {
    text-align: center;
    background-color: darksalmon;
    padding: 10px;
    color: white;
    font-size: 5vh;
    border-radius: 1vh;
    border: none;
    display: block;
    margin: 0 auto;
    position: fixed;
    bottom: 11vh;
    left: 46%;
    cursor: pointer;
}

.modal .create-card:hover {
    color: dodgerblue;
}

.modal .visit-info {
    margin: 40px 0;
}

.modal-title {
    font-weight: bold;
    color: white;
    font-size: 4vh;
    text-align: center;
    padding: 1vh;
}

.modal .close {
    position: absolute;
    right: 2vw;
    top: 3vh;
    color: white;
    cursor: pointer;
}

.form-control, .doctor-label {
    padding: 1vh;
}

.visit-info {
    color: white;
    font-weight: bold;
}

.visit-info form {
    padding-left: 2vw;
}

.input-form, .input-style {
    margin-left: 1vw;
    color: dodgerblue;
    border: white;
    font-family: 'Roboto Slab', serif;
}

.input-form:focus, .input-style:focus {
    box-shadow: 0 0 15px 5px dodgerblue;
}

.hide {
    display: none;
}

.visit-card {
    cursor: pointer;
    display: inline-block;
    width: 16vw;
    border: 0.5vh solid dodgerblue;
    border-radius: 1vh;
    color: dodgerblue;
    line-height: 1.5;
    margin: 1vh;
    padding: 5px;
    background-color: #e8e8e8;
}

.btn-detail {
    text-align: center;
    background-color: darksalmon;
    padding: 0.7vh;
    color: white;
    font-size: 2vh;
    border-radius: 1vh;
    border: none;
    margin: 1vh;
    cursor: pointer;
}
.btn-close{
    color: darksalmon;
    margin-left: 15vw;
    font-size: 16px;
    cursor: pointer;
}